@page "/manage-tasks"
@inherits TasksBase
@using WebClient.Abstractions
@using WebClient.Components
@using WebClient.Shared.Components
@inject HttpClient http
@inject IMemberDataService memberService;
@inject ITaskDataService taskDataService;

@if (isLoaded)
{
    <div class="page-wrapper row m-0 col-12 p-0">
        <div class="col-4 p-0">
            <LeftMenu />
        </div>
        <div class="col-8 p-0">
            @if (showLister)
            {
                <div class="col-10 offset-1 pt-5">
                    <div class="row m-0">

                        <Validations @ref="validations" Mode="ValidationMode.Manual">
                            <Field class="col-9 p-0 custom-input">
                                <Validation Validator="@ValidationRule.IsNotEmpty">
                                    <TextEdit Placeholder="Enter New Task" @bind-text="@createTaskViewModel.Subject">
                                        <Feedback>
                                            <ValidationError>Enter valid task.</ValidationError>
                                        </Feedback>
                                    </TextEdit>
                                </Validation>
                            </Field>

                            <div class="col-3 p-0 text-right">
                                <Button class="add-btn px-4" @onclick="@OnAddItem">Add</Button>
                            </div>
                        </Validations>
                    </div>
                </div>
                <div class="col-10 offset-1">
                    <TaskListerComponent @ref="@taskListerComponent"/>
                </div>
            }
        </div>
    </div>
}
